<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuzhao">

    <!--允许程序打开网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置，用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--允许程序获取网络状态，用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于读取手机当前的状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序设置内置sd卡的写权限，用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.CAMERA" />


    <!--短信验证所需权限-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--添加可以向外拨打电话的权限  -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--调用系统相册-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--极光推送的权限-->
    <permission
        android:name="com.tuzhao.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tuzhao.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE" />

    <!--科大讯飞语音识别的权限-->
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--微信功能所需要的权限-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:fullBackupContent="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--android8支持小米的刘海屏-->
            <meta-data
                android:name="notch.config"
                android:value="portrait" />

            <!-- android8支持华为刘海屏-->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <meta-data
                android:name="android.max_aspect"
                android:value="2.2" />
        </activity>

        <activity
            android:name=".activity.WelcomeGuideActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <!--android8支持小米的刘海屏-->
            <meta-data
                android:name="notch.config"
                android:value="portrait" />

            <!-- android8支持华为刘海屏-->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <meta-data
                android:name="android.max_aspect"
                android:value="2.2" />
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"

            android:label="@string/app_name"
            android:launchMode="singleTask" />

        <activity android:name=".activity.SelectCityActivity" />
        <activity android:name=".activity.OrderParkActivity" />
        <activity android:name=".activity.mine.AddNewCarActivity" />
        <!-- <activity android:name=".activity.mine.AddCarNumbleActivity" />-->
        <activity
            android:name=".activity.ParkspaceDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.SearchAddressActivity"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity android:name=".activity.ChargestationDetailActivity" />
        <activity android:name=".activity.mine.DiscountActivity" />
        <activity android:name=".activity.mine.MyWalletActivity" />
        <activity android:name=".activity.mine.ParkOrderActivity" />
        <activity android:name=".activity.mine.SelectParkSpaceActivity" />
        <activity android:name=".activity.mine.SearchParkSpaceActivity" />
        <activity android:name=".activity.mine.ApplyParkSpace" />
        <activity android:name=".activity.mine.ChangeNicknameActivity" />
        <activity android:name=".activity.mine.MyBalanceActivity" />
        <activity android:name=".activity.mine.SetActivity" />
        <activity android:name=".activity.mine.SuggestActivity" />
        <activity android:name=".activity.mine.CollectionActivity" />
        <activity android:name=".activity.mine.BillActivity" />
        <activity android:name=".activity.mine.ConsumRecordDetailActivity" />
        <activity android:name=".activity.mine.RentalRecordActivity" />
        <activity android:name=".activity.mine.EditShareTimeActivity" />
        <activity android:name=".activity.mine.ParkSpaceSettingActivity" />
        <activity android:name=".activity.mine.InvoiceReimbursementActivity" />
        <activity android:name=".activity.mine.PhotoActivity" />

        <activity
            android:name=".activity.mine.MyFriendsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.mine.AcceptTicketAddressActivity" />
        <activity
            android:name=".activity.mine.AddAcceptTicketAddressActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.mine.ShareParkSpaceActivity" />
        <activity android:name=".activity.mine.InvoiceSituationActivity" />
        <activity android:name=".activity.mine.InvoiceDetailActivity" />

        <activity
            android:name=".activity.mine.ShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.mine.TextActivity" />
        <activity android:name=".activity.BigPictureActivity" />
        <activity android:name=".activity.ParkOrChargeListActivity" />
        <activity
            android:name=".activity.mine.AuditParkSpaceActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.mine.CommentOrderActivity" />
        <activity android:name=".activity.mine.MyParkspaceActivity" />
        <activity
            android:name=".activity.mine.AddParkSpaceActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.PayActivity" />
        <activity android:name=".activity.mine.BillingRuleActivity" />
        <activity android:name=".activity.mine.CreditActivity" />
        <activity android:name=".activity.mine.CreditRecordActivity" />
        <activity android:name=".activity.mine.MyMonthlyCardActivity" />
        <activity android:name=".activity.mine.BuyMonthlyCardActivity" />
        <activity android:name=".activity.mine.PersonalInformationActivity" />
        <activity android:name=".activity.mine.ChangePasswordMethodActivity" />
        <activity
            android:name=".activity.mine.SMSVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.ChangePasswordActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".activity.mine.OrderComplaintActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.mine.ApplyParkSpaceProgressActivity" />
        <activity
            android:name=".activity.mine.ChangeApplyParkSpaceInfoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.mine.ConfirmAcceptInvoiceAddressActivity" />
        <activity android:name=".activity.mine.ChangeTetephoneNumberActivity" />
        <activity android:name=".activity.mine.WithdrawActivity" />
        <activity android:name=".activity.mine.NavigationActivity" />
        <activity android:name=".activity.mine.MyCarActivity" />
        <activity android:name=".activity.mine.ChangePersonalInformationActivity" />
        <activity
            android:name=".activity.mine.CertifyZhimaActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <data
                    android:host="certify.zhima.activity"
                    android:scheme="tuzhao" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.mine.FriendParkSpaceActivity" />
        <activity android:name=".activity.mine.AppointmentParkSpaceActivity" />
        <activity android:name=".activity.mine.UseFriendParkSpaceRecordActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.mine.BookParkSpaceActivity" />
        <activity android:name=".activity.mine.ShareParkSpaceDetailActivity" />
        <activity android:name=".activity.mine.AuditCarActivity" />
        <activity android:name=".activity.mine.ParkOrderFinishActivity" />
        <activity android:name=".activity.mine.ParkOrderAppointmentActivity" />
        <activity android:name=".activity.mine.ParkOrderParkingActivity" />
        <activity android:name=".activity.mine.ParkOrderCancelActivity" />
        <activity android:name=".activity.mine.ParkOrderPayActivity" />
        <activity android:name=".activity.mine.FreeParkActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.mine.BillingDetailActivity" />

        <activity
            android:name=".publicwidget.update.UpdateActivity"
            android:theme="@style/TransparentTheme" />

        <service android:name=".publicwidget.update.UpdateService" />

        <activity
            android:name="com.tianzhili.www.myselfsdk.photopicker.ui.PhotoPickActivity"
            android:theme="@style/PhoAppTheme.AppTheme" />

        <activity
            android:name="com.tianzhili.www.myselfsdk.photopicker.ui.PhotoPreviewActivity"
            android:theme="@style/PhoAppTheme.AppTheme" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--适配android7.0-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider_authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <provider
            android:name=".publicwidget.update.UpdateFileProvider"
            android:authorities="@string/file_provider_authorities"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/download_apk_path" />
        </provider>

        <!--QQ分享-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106725796" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--微信分享回调空页面-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!--微信支付回调页面-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxb68fabefc83d5c48" />
            </intent-filter>

        </activity>

        <!--支付宝未安装软件的话打开网页支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--扫码页面-->
        <!--<activity android:name=".zxing.app.CaptureActivity"></activity>-->

        <!--高德定位服务-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9df9daec404de15ce47c824fc25a7506" />

        <service android:name="com.amap.api.location.APSService" />

        <!--极光推送内容-->
        <!--  Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.tuzhao" />
            </intent-filter>
        </activity>

        <!--  Required SDK 核心功能 -->
        <!--  可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!--  since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.tuzhao.DataProvider"
            android:exported="true" />
        <!--  Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.tuzhao" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!--  Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!--  Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <!--  User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".activity.jiguang_notification.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.tuzhao" />
            </intent-filter>
        </receiver>
        <!--  User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新 别名/标签 接口设置结果会在该广播接收器对应的方法中回调 -->

        <!--  Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="180219dae0aad1c241e59b65" />

        <!-- 友盟分渠道打包 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a38a19db27b0a6b3a0004aa" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
    </application>

</manifest>